<!DOCTYPE html>
<html>
<head>
{% block header %}
	<base href="{{config["siteUrl"]}}">
	<meta charset="UTF-8">
	<link rel="icon" href="data:;base64,iVBORw0KGgo=">
	<title>qcm</title>
{% endblock %}
{% block css %}
	{{ css('https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.6/dist/semantic.min.css') }}
	{{css('css/style.css') | raw}}
{% endblock %}
</head>
<body>
{% block head %}
{% endblock %}
<div class="ui teal inverted menu">
  <a class="item" href=".."><img src="../../public/assets/img/logo.png"></a>
  <a class="item" href="../Admin">
    Admin
  </a>
  <a class="item" href="../QuestionController">
    Question
  </a>
  <a class="item" href="../GroupController">
    Groupes
  </a>
  <a class="item" href="../FormsController">
  	User
  </a>
  <a class="item" href="../MonTest">
  QCM
  </a>
  
</div>